.container{
	border: 8px solid #016a26;
	height: 260px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.item{
	width: 50px;
	height: 30px;
	margin: 2px;
	padding: 10px;
	font-size: 50px;
	border: 2px solid black;
	background: linear-gradient(#14463d,#016a26);
}



/*
	Arranging via x-axis and y-axis:
	justify-content:   (x-axis)-->horizontal
	start, center, end, space-around,
	space-evenly, space-between

	align-items:		(y-axis)-->vertical
	start, center, end

	Note:
	After changing the flex-direction to column, the 
	justfy-content acts as vertical and 
	align-items acts as horizontal
	

*/